/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import "font-awesome-sprockets";
@import "font-awesome";

/* --- RESET --- */

html, body, h1, h2, h3, h4, h5, a, ul, li, p, input, textarea, label, select, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: border-box;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  position: relative;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  font-family: 'Merriweather', serif;
}

label {
  display: block;
  padding-top: 5px;
}

input, textarea {
  border: 1px solid #E1E3DF;
  margin: 5px 0;
  padding: 5px;
  font-size: 12px;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- SPINNER --- */
.fa-spinner {
  position: relative;
  left: 50%;
  top: 300px;
  color: #E1E3DF;
}

/* --- HEADER --- */

.header {
  height: 90px;
  background-color: #fff;
  border-bottom: 1px solid #E1E3DF;
}

.global-nav {
  box-sizing: border-box;
  padding: 20px 10px;
  width: 1000px;
  margin: auto;
  position: relative;
}

.global-nav-logo-search {
  float: left;
}

.logo {
  font-size: 36px;
  font-weight: 400;
  color: rgb(244, 101, 0);;
}

.global-nav-links {
  float: right;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(102, 102, 102);
  text-align: center;
  margin-top: 5px;
}

.global-nav-links > a {
  display: block;
  color: rgb(12, 146, 183);
  margin: 0 10px;
}

.global-nav-links > a:last-child {
  margin-right: 0;
}

.shop {
  float: left;
  padding-right: 10px;
}

.shop:hover {
  color: #000;
  cursor: pointer;
}

.shop-container {
  padding: 5px;
}

.shop p {
  padding-top: 1px;
}

.sell {
  float: left;
  padding: 10px 0;
  margin-top: 1px;
}

.sell:hover {
  text-decoration: underline;
}

.register {
  float: left;
  padding: 10px 0;
  margin-top: 1px;
}

.register:hover {
  text-decoration: underline;
}

.signin, .guest {
  float: left;
  padding: 10px;
  border: 1px solid #0C92B7;
  border-radius: 5px;
  transition: background-color .25s ease-in-out;
}

.signin:hover, .guest:hover {
  background-color: #E5F4F7;
}

.you {
  float: left;
  margin-left: 10px;
}

.you:hover {
  color: #000;
  cursor: pointer;
}

.you-container {
  height: 25px;
  width: 25px;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 50%;
  overflow: hidden;
}

.you-container-image {
  width: 100%;
}

.fa-user {
  padding-right: 2px;
}

/* --- AUTH MODAL --- */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.1);
}

.auth-modal {
  width: 580px;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 20px rgb(51, 51, 51);
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  z-index: 4;
}

.auth-modal input {
  border: 1px solid #E1E3DF;
}

.auth-nav {
  background: rgb(245, 245, 241);
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-bottom: 1px solid #E1E3DF;
  position: relative;
}

.auth-nav ul {

}

.auth-nav li:nth-child(1) {
  border-left: 1px solid #E1E3DF;
}

.auth-nav li:nth-child(2) {
  border-left: 1px solid #E1E3DF;
  border-right: 1px solid #E1E3DF;
}

.auth-nav li {
  list-style: none;
  float: left;
  border-top: 1px solid #E1E3DF;
}

.active {
  color: rgb(102, 102, 102);
  background: #fff;
}

.inactive {
  color: rgb(12, 146, 183);
}

.auth-nav a {
  display: block;
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.auth-nav a:hover {
  text-decoration: underline;
}

.auth-form {
  width: 475px;
  margin: auto;
  color: rgb(102, 102, 102);
  font-family: sans-serif;
  font-size: 12px;
  padding: 20px 0;
}

.auth-form input {
  margin: 0;
}

.o-auth {
  height: 140px;
  padding: 20px 0;
  background: #fff;
  border-bottom: 1px solid #E1E3DF;
  position: relative;
}

.o-auth p {
  position: absolute;
  bottom: 20px;
}

.first-name-input,
.email-input,
.email-or-username-input {
  padding-top: 15px;
}

.gender label {
  display: inline;
  padding-top: 5px;
}

.first-name-input span {
  float: right;
  display: block;
  margin: 5px;
  width: 220px;
  font-size: 12px;
}

.email-input span,
.password-input span,
.confirm-password-input span,
.username-input span,
.email-or-username-input span {
  float: right;
  display: block;
  width: 220px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 6px;
  color: rgb(176, 56, 30);
  border: 1px solid rgb(244, 191, 203);;
  background-color: rgb(252, 238, 238);
}

.gender, .username-input {
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E1E3DF;
}

.gender label {
  padding-top: 0;
  padding-left: 5px;
  padding-right: 10px;
}

.auth-form button {
  margin: 20px 0;
  padding: 10px 85px;
  border-radius: 5px;
  border: 1px solid rgb(54, 151, 177);
  background-color: rgb(12, 146, 183);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.auth-form button:hover {
  background-color: rgb(67, 177, 204);
}

.auth-form button:focus {
  background-color: rgb(12, 146, 183);
}

.auth-form p {
  font-size: 10px;
}

/* --- PROFILE MODAL --- */

.profile-modal:before {
  content: "▾";
  position: absolute;
  top: -20px;
  right: 58px;
  transform: scale(1, -1);
  font-size: 30px;
  color: #E1E3DF;
}

.profile-modal:after {
  content: "▾";
  position: absolute;
  top: -18px;
  right: 58px;
  transform: scale(1, -1);
  font-size: 30px;
  color: #fff;
}

.profile-modal {
  position: absolute;
  z-index: 2;
  margin-top: 60px;
  margin-left: -113px;
  width: 260px;
  border: 1px solid #E1E3DF;
  border-radius: 5px;
  background-color: #fff;
}

.profile-modal-container {
  height: 50px;
  width: 50px;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 50%;
  overflow: hidden;
}

.profile-modal-container-image {
  width: 100%;
}

.profile-modal-user {
  border-bottom: 1px solid #E1E3DF;
}

.profile-modal-user:hover .profile-modal-button {
  box-shadow: 0 0 5px #E1E3DF;
  color: rgb(51, 51, 51);
  border: 1px solid rgb(204, 204, 204);
}

.profile-modal-user:hover .profile-modal-button:after {
  color: rgb(63, 147, 181);
}

.profile-modal-user-image {
  float: left;
  padding: 20px;
  margin-left: 5px;
}

.profile-modal-user-info {
  float: left;
}

.profile-modal-user-info h4 {
  margin-top: 20px;
  margin-bottom: 3px;
  text-align: left;
  color: rgb(51, 51, 51);
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.profile-modal-button {
  float: left;
  color: rgb(102, 102, 102);
  border: 1px solid #E1E3DF;
  padding: 5px;
  border-radius: 3px;
}

.profile-modal-button:after {
  content: " ▸ ";
}

.profile-modal-signout {
  color: rgb(51, 51, 51);
  text-align: left;
  padding: 15px 20px;
  margin: 10px 0;
}

.profile-modal-signout:hover {
  background-color: #E5F4F7;
  color: rgb(12, 146, 183);
}

/* --- GREETING --- */

.greeting {
  padding: 30px 0;
  width: 100%;
  background-color: rgb(245, 245, 241);
}

.greeting h1 {
  box-sizing: border-box;
  margin: auto;
  text-align: center;
  color: rgb(34, 34, 34);
  font-size: 22px;
  font-weight: bold;
  width: 1000px;
}

/* --- HERO --- */

.hero {
  height: 400px;
  min-width: 1000px;
  width: 100%;
  background-image: image-url("heroimage.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-body {
  box-sizing: border-box;
  width: 1000px;
  padding: 25px;
  margin: auto;
}

.hero-body h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  width: 550px;
  padding-top: 80px;
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-bottom {
  box-sizing: border-box;
  width: 1000px;
  height: 100px;
  margin: auto;
  padding: 0 25px;
}

.hero-seller {
  margin-top: 20px;
  color: #fff;
  font-size: 14px;
  float: left;
}

.hero-seller:hover {
  cursor: pointer;
}

.hero-seller:hover a {
  text-decoration: underline;
}

.hero-seller-picture {
  float: left;
  height: 60px;
  width: 60px;
  background-position: center;
  background-image: image-url("featuredowner.jpg");
  border-radius: 50%;
}

.hero-seller-info {
  float: left;
  margin: 10px;
}

.name-store {
  margin-bottom: 5px;
}

.hero-gallery {
  float: right;
  margin-top: 10px;
}

.hero-gallery-item {
  box-sizing: border-box;
  height: 80px;
  width: 80px;
  border-radius: 3px;
  padding: 5px;
  background-color: #fff;
  float: left;
  position: relative;
  margin-left: 10px;
}

.hero-gallery-item-wrapper {
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: relative;
  background-color: #000;
  cursor: pointer;
}

.hero-gallery-item img {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translate(-50%, 0);
}

.hero-gallery-item img:hover {
  opacity: 0.8;
}

.hero-gallery-count-wrapper {
  box-sizing: border-box;
  font-family: sans-serif;
  text-align: center;
  font-size: 14px;
  color: rgb(102, 102, 102);
  padding-top: 10px;
  width: auto;
  height: 100%;
  cursor: pointer;
}

.hero-gallery-count-wrapper:hover {
  background-color: #E5F4F7;
}

.hero-gallery-count-wrapper h4 {
  font-size: 24px;
  color: rgb(12, 146, 183);
}

/* --- DISCOVER --- */

.discover {
  height: 1000px;
  width: 100%;
  background-color: rgb(245, 245, 241);
}

.discover-body {
  width: 1000px;
  padding: 60px 0;
  margin: auto;
  font-size: 14px;
}

.discover-body h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.discover-listing {
  box-sizing: border-box;
  width: 225px;
  height: 225px;
  padding: 5px;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  background-color: #fff;
  float: left;
  font-family: sans-serif;
  margin-right: 33px;
  margin-top: 30px;
}

.discover-listing:nth-child(4n+1) {
  margin-right: 0;
}

.discover-listing-image-wrapper {
  height: 175px;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.discover-listing-image-wrapper img {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  transform: translate(-50%, 0);
}

.discover-listing-image-wrapper img:hover {
  cursor: pointer;
}

.discover-listing > a {
  display: block;
  color: rgb(102, 102, 102);
  padding-top: 5px;
}

.discover-listing > a:hover {
  text-decoration: underline;
}

.discover-listing-footer a {
  float: left;
  color: rgb(172, 172, 172);
}

.discover-listing-footer a:hover {
  text-decoration: underline;
}

.discover-listing-footer h5 {
  float: right;
  color: #0c0;
}

/* --- PROFILE --- */

.profile {
  box-sizing: border-box;
  width: 1000px;
  height: 1000px;
  padding: 0 10px;
  margin: auto;
  background-color: #fff;
  color: rgb(102, 102, 102);
}

.profile-breadcrumbs {
  padding-bottom: 3px;
  border-bottom: 1px solid #E1E3DF;
}

.profile-breadcrumbs * {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: inline;
}

.profile-breadcrumbs a {
  color: #000;
}

.profile-nav {
  position: relative;
  float: left;
  background: rgb(245, 245, 241);
  width: 190px;
  height: 275px;
  padding: 15px 0;
  border-radius: 5px;
  margin-top: 30px;
}

.profile-nav-image {
  margin: auto;
  width: 160px;
  height: 160px;
  border: 1px solid #E1E3DF;
  border-radius: 50%;
  overflow: hidden;
}

.profile-nav-image-upload {
  width: 100%;
}

.profile-nav .fa-user {
  margin-top: 35px;
  margin-left: 50px;
}

.profile-nav-camera {
  position: absolute;
  right: 15px;
  top: 135px;
  width: 40px;
  height: 40px;
  background-color: rgba(255, 255, 255, .6);;
  border: 1px solid #E1E3DF;
  border-radius: 50%;
}

.profile-nav .fa-camera {
  margin-top: 12px;
  margin-left: 12px;
  color: rgb(63, 147, 181);
}

.profile-identifier {
  color: rgb(63, 147, 181);
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 700;
  margin: 20px;
}

.profile-tabs-profile {
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 10px;
  border-top: 1px solid #E1E3DF;
  border-bottom: 1px solid #E1E3DF;
  background-color: #fff;
  font-family: sans-serif;
  font-size: 14px;
}

.profile-title {
  float: left;
  font-family: sans-serif;
  font-size: 20px;
  margin: 30px 0;
  margin-left: 30px;
  width: 750px;
}

.profile-about {
  float: left;
  margin-left: 30px;
  width: 325px;
  height: 200px;
  border: 1px solid #E1E3DF;
  box-shadow: 0 0 20px #E1E3DF;
  padding: 20px;
  font-family: sans-serif;;
}

.profile-about h4 {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 700;
}

.profile-about p {
  font-size: 12px;
}

/* --- PROFILE PICTURE MODAL --- */

.profile-picture-modal {
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
}

.profile-picture-modal-form {
  width: 545px;
  height: 515px;
  background-color: #fff;
  margin: auto;
  margin-top: 200px;
  border-radius: 5px;
  border: 1px solid rgb(179, 179, 179);
  box-shadow: 0 0 20px rgb(179, 179, 179);
}

.profile-picture-modal-form-title {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 70px;
  background-color: rgb(245, 245, 241);
  border-bottom: 1px solid #E1E3DF;
}

.profile-picture-modal-form-title h4 {
  font-family: sans-serif;
  font-size: 20px;
  text-align: center;
  padding-top: 25px;
}

.profile-picture-modal-form-content-image {
  margin: auto;
  margin-top: 35px;
  margin-bottom: 35px;
  width: 160px;
  height: 160px;
  border: 1px solid #E1E3DF;
  border-radius: 50%;
  overflow: hidden;
}

.profile-picture-modal-form-content-image .fa-user {

  margin-top: 35px;
  margin-left: 50px;
}

.profile-picture-modal-form-content-image img {
  width: 100%;
}

.profile-picture-modal-form-content h3 {
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  margin: 10px 0;
}

.profile-picture-modal-form-content-instructions h3:first-child {
  font-weight: 700;
}

.profile-picture-modal-upload {
  margin: auto;
  margin-top: 40px;
  position: relative;
  width: 130px;
}

.profile-picture-modal-upload-button {
  box-sizing: border-box;
  width: 130px;
  height: 35px;
  background-color: rgb(47, 152, 185);
  border: 1px solid rgb(42, 134, 163);
  border-radius: 5px;
  font-family: sans-serif;
  color: #fff;
  text-align: center;
  padding-top: 8px;
}

.profile-picture-modal-upload:hover .profile-picture-modal-upload-button{
  background-color: rgb(53, 162, 193);
}

.profile-picture-modal-upload-input {
  box-sizing: border-box;
  opacity: 0;
  border: 1px solid #f00;
  position: absolute;
  top: 0;
  width: 130px;
  height: 35px;
}

.profile-picture-modal-cancel-submit {
  width: 200px;
  margin: auto;
  margin-top: 30px;
}

.profile-picture-modal-cancel-submit a {
  font-family: sans-serif;
  padding: 10px 15px;
  border: 1px solid #E1E3DF;
  border-radius: 5px;
  margin: 10px;
}

.profile-picture-modal-cancel-submit a:first-child:hover {
  background-color: rgb(245, 245, 241);
}

.profile-picture-modal-cancel-submit a:last-child {
  background-color: rgb(47, 152, 185);
  border: 1px solid rgb(42, 134, 163);
  color: #fff;
}

.profile-picture-modal-cancel-submit a:last-child:hover {
  background-color: rgb(53, 162, 193);
}

/* --- SELL --- */

.sell-hero {
  min-height: 1080px;
  width: 100%;
  height: auto;
  background-image: url("https://s3.amazonaws.com/covetsy-seed/heros/sellhero.jpg");
  background-size: cover;
  background-position: center;
}

.sell-hero-space {
  height: 230px;
}

.sell-hero h1 {
  margin: auto;
  width: 600px;
  color: #fff;
  font-size: 36px;
  text-shadow: 0 0 200px #000;
}

.sell-hero a {
  display: block;
  margin: auto;
  margin-top: 40px;
  width: 220px;
  padding: 10px 0;
  border: 1px solid #E1E3DF;
  border-radius: 5px;
  background-color: #fff;
  color: rgb(51, 51, 51);
  font-family: sans-serif;
  text-align: center;
}

.sell-hero a:hover {
  background-color: rgb(245, 245, 241);
}

/* --- ONBOARDING --- */

.onboarding-form {
  color: rgb(34, 34, 34);
  background-color: rgb(245, 245, 241);
  list-style-type: none;
  line-height: 1.5;
  min-width: 1000px;
  height: 1000px;
}

.onboarding-form h3 {
  font-size: 22px;
  font-weight: 700;
  padding-top: 30px;
  padding-bottom: 10px;
}

.onboarding-form h4 {
  font-family: sans-serif;
  font-size: 16px;
  padding-bottom: 30px;
}

.onboarding-form h3, .onboarding-form h4 {
  text-align: center;
}

.onboarding-form label {
  display: inline;
}

.onboarding-form-name-form, .onboarding-form-preferences-form {
  margin: 0 40px;
  width: auto;
  min-width: 840px;
  padding: 30px 40px;
  background-color: #fff;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
}

.onboarding-form-name-input {
  margin: auto;
  width: 650px;
}

.onboarding-form-name-input * {
  font-family: sans-serif;
  height: 45px;
}

.onboarding-form-name-input input {
  float: left;
  font-size: 18px;
  width: 500px;
  padding: 10px 15px;
  border-top: 1px solid #E1E3DF;
  border-bottom: 1px solid #E1E3DF;
  border-left: 1px solid #E1E3DF;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.onboarding-form-name-input input:hover {
  border-top: 1px solid rgb(102, 102, 102);
  border-bottom: 1px solid rgb(102, 102, 102);
  border-left: 1px solid rgb(102, 102, 102);
}

.onboarding-form-name-input input:focus {
  border-top: 1px solid rgb(42, 134, 163);
  border-bottom: 1px solid rgb(42, 134, 163);
  border-left: 1px solid rgb(42, 134, 163);
}

.onboarding-form-name-input button {
  float: right;
  text-align: center;
  width: 150px;
  font-size: 14px;
  font-weight: 700;
  color: rgb(34, 34, 34);
  background-color: #fff;
  border: 1px solid #E1E3DF;
  outline: 0;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.onboarding-form-name-input button:hover {
  background-color: rgb(245, 245, 241);
}

.onboarding-form-name-input button:active {
  border: 1px solid rgb(51, 51, 51);
}

.onboarding-form-name-input button:focus {
  border: 1px solid rgb(42, 134, 163);
}

.onboarding-form-name-form p {
  margin: auto;
  margin-top: 25px;
  width: 650px;
  text-align: center;
}

.onboarding-form-name-form ul, .onboarding-form-preferences-form ul {
  list-style: none;
}

.onboarding-form-name-form label:first-child {
  font-weight: 700;
}

.onboarding-form-name-form label, .onboarding-form-preferences-form label {
  font-family: sans-serif;
  font-size: 14px;
}

.onboarding-form-name-form p, .onboarding-form-preferences-form p {
  color: rgb(102, 102, 102);
  font-family: sans-serif;
  font-size: 12px;
}

.onboarding-form-name-form h5 {
  padding: 10px 0;
  float: left;
}

.green {
  color: green;
}

.red {
  color: red;
}

.onboarding-form-preferences-form > ul > li {
  padding-bottom: 20px;
}

.onboarding-form-preferences-form li > label:first-child {
  float: left;
  width: 20%;
  font-weight: 700;
  margin-right: 50px;
}

.onboarding-form-preferences-form li > select {
  width: 33%;
  float: left;
  font-size: 14px;
  font-family: sans-serif;
  height: 40px;
  border: 1px solid #E1E3DF;
}

.onboarding-form-preferences-form li > ul {
  float: left;
}

.onboarding-form-preferences-form input {
  margin-right: 5px;
}

.onboarding-form-preferences-form input > label {
  float: left;
}

.onboarding-form-preferences-form li > div {
  width: 33%;
  float: right;
}

.onboarding-form-preferences-form li > p {
  text-align: left;
}

.onboarding-form-preferences-form > ul > li:last-child {
  padding-top: 20px;
  border-top: 1px solid #E1E3DF;
}

.onboarding-form > button {
  padding: 5px 15px;
  background-color: rgb(47, 152, 185);
  border: 1px solid #000;
  border-radius: 5px;
  display: block;
  margin: auto;
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: sans-serif;
  border: 1px solid rgb(42, 134, 163);
  color: #fff;
}

.onboarding-form > button:hover {
  background-color: rgb(53, 162, 193);
}

/* --- SHOP --- */

.shop-body {
  box-sizing: border-box;
  width: 1000px;
  margin: auto;
  padding: 0 10px;
  color: rgb(102, 102, 102);
  font-family: sans-serif;
  font-size: 14px;
}

.shop-breadcrumbs {
  height: 20px;
  padding-top: 3px;
  border-bottom: 1px solid #E1E3DF;
  margin-bottom: 15px;
}

.shop-breadcrumbs * {
  font-family: sans-serif;
  font-size: 12px;
  font-weight: 400;
  display: inline;
}

.shop-breadcrumbs a {
  color: #000;
}

.shop-sidebar {
  width: 190px;
  float: left;
}

.shop-sidebar > div {
  padding: 15px;
  background: rgb(245, 245, 241);
  border-radius: 5px;
}

.shop-sidebar a {
  color: rgb(12, 146, 183);
}

.shop-sidebar > div > h5:first-child {
  font-weight: 700;
  color: #000;
  margin-bottom: 10px;
}

.shop-owner {
  margin-bottom: 15px;
}

.shop-owner a:first-of-type {
  display: block;
  margin-top: 10px;
}

.shop-owner > h5:last-of-type {
  margin-top: 10px;
}

.shop-info {
  margin-bottom: 15px;
}

.shop-info > h5:last-child {
  font-size: 12px;
  margin-top: 3px;
}

.shop-content {
  float: right;
  width: 770px;
}

.shop-banner {
  height: 150px;
  border: 1px solid red;
  margin-bottom: 15px;
}

.shop-stock {
  margin-top: -10px;
  min-height: 800px;
}

.shop-listing {
  box-sizing: border-box;
  width: 184px;
  height: 220px;
  margin-top: 10px;
  margin-right: 10px;
  padding: 5px;
  border: 1px solid #E1E3DF;
  float: left;
}

.shop-stock div:nth-child(4) {
  margin-right: 0;
}

.shop-listing-image {
  width: auto;
  height: 155px;
  margin: auto;
  margin-bottom: 5px;
  border: 1px solid #E1E3DF;
}

.shop-listing-image-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.shop-listing-image img {
  width: auto;
  height: 100%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.shop-listing-image img:hover {
  cursor: pointer;
}

.shop-stock a:first-of-type:hover {
  text-decoration: underline;
}

.shop-stock h5:last-child {
  color: #0c0;
}

/* --- LISTING FORM --- */
.listing-form {
  position: absolute;
  z-index: 1;
  width: 1000px;
  height: 100%;
  background-color: #fff;
  color: rgb(51, 51, 51);
}

.listing-form a {
  display: block;
  margin-top: 25px;
  margin-bottom: 30px;
  color: rgb(12, 146, 183);
}

.listing-form a:before {
  content: "◀ ";
}

.listing-form a:hover {
  text-decoration: underline;
  cursor: pointer;
}

.listing-form h3 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.listing-form h4 {
  font-family: 'Merriweather', serif;
  font-size: 18px;
  margin-bottom: 5px;
}

.listing-form-photo-polaroid {
  width: 190px;
  height: 200px;
  border-radius: 3px;
  border: 1px solid #E1E3DF;
  margin-top: 25px;
  position: relative;
}

.listing-form-photo-polaroid:hover {
  border: 1px solid rgb(12, 146, 183);
  cursor: pointer;
}

.listing-form-photo-polaroid:hover .listing-form-photo-bottom {
  border-top: 1px solid rgb(12, 146, 183);
}

.listing-form-photo-image {
  width: 180px;
  height: 140px;
  margin: 5px;
  background-color: rgb(241, 251, 253);
  text-align: center;
  color: rgb(12, 146, 183);
}

.listing-form-photo-bottom {
  border-top: 1px solid #E1E3DF;
  width: 100%;
}

.listing-form p {
  color: rgb(102, 102, 102);
  display: block;
  margin: 5px 0;
}

.listing-form-photo-input {
  opacity: 0;
  border: 1px solid #f00;
  position: absolute;
  top: -5px;
  width: 190px;
  height: 200px;
}

.listing-form-photo-image > p {
  color: rgb(12, 146, 183);
}

.listing-form-photo-image span {
  margin-top: 50px;
}

.listing-form > form > div {
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  padding: 25px;
  margin-bottom: 25px;
}

.listing-form-inputs > p {
  margin-bottom: 20px;
}

.listing-form-inputs > div {
  display: block;
}

.listing-form-inputs > div > div {
  float: right;
  width: 85%;
  margin-bottom: 20px;
}

.listing-form-inputs label {
  float: left;
  width: 15%;
  font-weight: 700;
}

.listing-form-inputs input, textarea {
  float: left;
  width: 60%;
  margin-right: 30px;
  padding: 10px 15px;
}

.listing-form-inputs > div p {
  float: left;
  width: 30%;
  font-size: 13px;
}

.description-input > div > div {
  float: left;
  width: 30%;
}

.description-input > div > div p {
  float: none;
  width: 100%;
}

.listing-form button {
  display: block;
  margin: 20px auto;
  padding: 10px 85px;
  border-radius: 5px;
  border: 1px solid rgb(54, 151, 177);
  background-color: rgb(12, 146, 183);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.listing-form button:hover {
  background-color: rgb(67, 177, 204);
}

.listing-form button:focus {
  background-color: rgb(12, 146, 183);
}

/* --- LISTING --- */

.listing {
  background: rgb(245, 245, 241);
  padding: 130px 0;
  font-family: sans-serif;
}

.listing-body {
  box-sizing: border-box;
  width: 1000px;
  margin: auto;
  padding: 30px;
  height: 1000px;
  background-color: #fff;
  border: 1px solid #E1E3DF;
  border-radius: 5px;
}

.listing-left {
  float: left;
  margin: auto;
  width: 540px;
}

.listing-right {
  float: right;
  margin: auto;
  width: 365px;
}

.listing-gallery {
  width: auto;
  height: 380px;
  margin-bottom: 30px;
  overflow: hidden;
}

.listing-gallery img {
  height: auto;
  width: 100%;
}

.listing-detail {
  padding: 10px;
  width: auto;
}

.listing-detail h5:first-child {
  font-weight: 700;
  padding-bottom: 20px;
}

.listing-overview {
  padding: 10px;
  width: auto;
  border: 10px solid rgb(228, 243, 217);
  border-radius: 5px;
}

.listing-overview h5 {
  padding-bottom: 20px;
  font-weight: 700;
}

.listing-overview h5:first-child {
  font-family: 'Merriweather', serif;
  font-size: 18px;
}

.listing-overview h5:nth-child(2) {
  font-size: 20px;
}
