/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700);
@import "font-awesome-sprockets";
@import "font-awesome";

/* --- RESET --- */

html, body, h1, h4, a, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: border-box;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
  position: relative;
  display: block;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(245, 245, 241);
  font-family: 'Merriweather', serif;
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- HEADER --- */
.fa-spinner {
  position: relative;
  left: 50%;
  top: 300px;
  color: #E1E3DF;
}

/* --- HEADER --- */

.header {
  background-color: #fff;
  border-bottom: 1px solid #E1E3DF;
}

.global-nav {
  padding: 20px 10px;
  width: 1000px;
  margin: auto;
  position: relative;
}

.global-nav-logo-search {
  float: left;
}

.logo {
  font-size: 36px;
  font-weight: 400;
  color: rgb(244, 101, 0);;
}

.global-nav-links {
  float: right;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(102, 102, 102);
  text-align: center;
}

.global-nav-links > a {
  display: block;
  color: rgb(12, 146, 183);
}

.register {
  float: left;
  padding: 10px;
  margin-top: 1px;
  margin-right: 10px;
}

.register:hover {
  text-decoration: underline;
}

.signin {
  float: left;
  padding: 10px;
  border: 1px solid #0C92B7;
  border-radius: 5px;

}

.signin:hover {
  background-color: #E5F4F7;
}

.you:hover {
  color: #000;
}

.fa-user {
  padding-right: 2px;
}

/* --- AUTH MODAL --- */

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  background-color: rgba(0, 0, 0, 0.1);
}

.auth-modal {
  width: 580px;
  border: 1px solid #E1E3DF;
  border-radius: 3px;
  background: #fff;
  box-shadow: 0 0 20px #E1E3DF;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translate(-50%, 0);
  z-index: 4;
}

.auth-nav {
  background: rgb(245, 245, 241);
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-bottom: 1px solid #E1E3DF;
  position: relative;
}

.auth-nav ul {

}

.auth-nav li:nth-child(1) {
  border-left: 1px solid #E1E3DF;
}

.auth-nav li:nth-child(2) {
  border-left: 1px solid #E1E3DF;
  border-right: 1px solid #E1E3DF;
}

.auth-nav li {
  list-style: none;
  float: left;
  border-top: 1px solid #E1E3DF;
}

.active {
  color: rgb(102, 102, 102);
  background: #fff;
}

.inactive {
  color: rgb(12, 146, 183);
}

.auth-nav a {
  display: block;
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.auth-nav a:hover {
  text-decoration: underline;
}

.auth-form {
  width: 475px;
  margin: auto;
  color: rgb(102, 102, 102);
  font-family: sans-serif;
  font-size: 12px;
  padding: 20px 0;
}

.auth-form input {
  margin: 0;
}

.o-auth {
  height: 140px;
  padding: 20px 0;
  background: #fff;
  border-bottom: 1px solid #E1E3DF;
  position: relative;
}

.o-auth p {
  position: absolute;
  bottom: 20px;
}

.first-name-input,
.email-input,
.email-or-username-input {
  padding-top: 15px;
}

.first-name-input label,
.last-name-input label,
.email-input label,
.password-input label,
.confirm-password-input label,
.username-input label,
.email-or-username-input label,
.signin-password-input label {
  display: block;
  padding-top: 5px;
}

.first-name-input input,
.last-name-input input,
.email-input input,
.password-input input,
.confirm-password-input input,
.username-input input,
.email-or-username-input input,
.signin-password-input input {
  margin: 5px 0;
  padding: 5px;
  width: 220px;
  font-size: 12px;
}

.first-name-input span {
  float: right;
  display: block;
  margin: 5px;
  width: 220px;
  font-size: 12px;
}

.email-input span,
.password-input span,
.confirm-password-input span,
.username-input span,
.email-or-username-input span {
  float: right;
  display: block;
  width: 220px;
  margin-left: 5px;
  margin-top: 5px;
  padding: 6px;
  color: rgb(176, 56, 30);
  border: 1px solid rgb(244, 191, 203);;
  background-color: rgb(252, 238, 238);
}

.gender, .username-input {
  padding-top: 5px;
  padding-bottom: 20px;
  border-bottom: 1px solid #E1E3DF;
}

.gender label {
  padding-top: 0;
  padding-left: 5px;
  padding-right: 10px;
}

.auth-form button {
  margin: 20px 0;
  padding: 10px 85px;
  border-radius: 5px;
  border: 1px solid rgb(54, 151, 177);
  background-color: rgb(12, 146, 183);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.auth-form button:hover {
  background-color: rgb(67, 177, 204);
}

.auth-form button:focus {
  background-color: rgb(12, 146, 183);
}

.auth-form p {
  font-size: 10px;
}

/* --- PROFILE MODAL --- */

.profile-modal:before {
  content: "▾";
  position: absolute;
  z-index: 1;
  top: -20px;
  right: 58px;
  transform: scale(1, -1);
  font-size: 30px;
  color: #E1E3DF;
}

.profile-modal:after {
  content: "▾";
  position: absolute;
  top: -18px;
  right: 58px;
  transform: scale(1, -1);
  font-size: 30px;
  color: #fff;
}

.profile-modal {
  position: absolute;
  margin-top: 10px;
  margin-left: -175px;
  width: 260px;
  border: 1px solid #E1E3DF;
  border-radius: 5px;
  background-color: #fff;
}

.profile-modal-user {
  border-bottom: 1px solid #E1E3DF;
}

.profile-modal-user:hover .profile-modal-button {
  box-shadow: 0 0 5px #E1E3DF;
  color: rgb(51, 51, 51);
  border: 1px solid rgb(204, 204, 204);
}

.profile-modal-user:hover .profile-modal-button:after {
  color: rgb(63, 147, 181);
}

.profile-modal-user-image {
  float: left;
  padding: 20px;
  margin-left: 5px;
}

.profile-modal-user-info {
  float: left;
}

.profile-modal-user-info h4 {
  margin-top: 20px;
  margin-bottom: 3px;
  text-align: left;
  color: rgb(51, 51, 51);
  font-family: 'Merriweather', serif;
  font-weight: 700;
}

.profile-modal-button {
  float: left;
  color: rgb(102, 102, 102);;
  border: 1px solid #E1E3DF;
  padding: 5px;
  border-radius: 3px;
}

.profile-modal-button:after {
  content: " ▸ ";
}

.profile-modal-signout {
  color: rgb(51, 51, 51);
  text-align: left;
  padding: 15px 20px;
  margin: 10px 0;
}

.profile-modal-signout:hover {
  background-color: #E5F4F7;
  color: rgb(12, 146, 183);
}

/* --- GREETING --- */

.greeting {
  margin: auto;
  padding: 30px 0;
  width: 1000px;
  text-align: center;
  color: rgb(34, 34, 34);
  font-size: 22px;
  font-weight: bold;
}

/* --- HERO --- */

.hero {
  height: 400px;
  min-width: 1000px;
  width: 100%;
  background-image: image-url("heroimage.jpg");
  background-size: cover;
  background-position: center;
  position: relative;
}

.hero-body {
  width: 1000px;
  padding: 20px;
  margin: auto;
}

.hero-body h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 700;
  width: 550px;
  padding-top: 100px;
}

.hero-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.4);
}

.hero-space {
  height: 100px;
}

.hero-seller {
  position: absolute;
  z-index: 2;
  color: #fff;
  display: block;
  font-size: 14px;
}

.hero-seller-picture {
  float: left;
  height: 60px;
  width: 60px;
  background-position: center;
  background-image: image-url("featuredowner.jpg");
  border-radius: 50%;
}

.hero-seller-info {
  float: left;
  margin: 10px;
}

.name-store {
  margin-bottom: 5px;
}

/* --- DISCOVER --- */

.discover {
  height: 800px;
  width: 100%;
}

.discover-body {
  width: 1000px;
  padding: 60px;
  margin: auto;
}

.discover-body h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}
