/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* --- RESET --- */

html, body, h1, a, ul, li, p {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  box-sizing: border-box;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: inherit;
  color: inherit;
  background: transparent;
}

/* --- ELEMENTS --- */

body {
}

/* --- CLEARFIX --- */

.group:after {
  content: "";
  clear: both;
  display: block;
}

/* --- HEADER --- */

.header {
  border-bottom: 1px solid #E1E3DF;
}

.global-nav {
  padding: 20px 10px;
  width: 1000px;
  margin: auto;
  position: relative;
}

.global-nav-logo-search {
  float: left;
}

.logo {
  font-size: 36px;
  font-weight: 500;
  color: rgb(244, 101, 0);;
}

.global-nav-links {
  float: right;
  font-family: sans-serif;
  font-size: 14px;
  color: rgb(12, 146, 183);
  margin-top: 15px;
}

.register:hover {
  text-decoration: underline;
}

.signin {
  padding: 10px;
  border: 1px solid #0C92B7;
  border-radius: 5px;
  margin: 20px;
}

.signin:hover {
  background-color: #E5F4F7;
}

/* --- AUTH MODAL --- */

.auth-modal {
  width: 580px;
  border: 1px solid #E1E3DF;
  margin-top: 80px;
  border-radius: 3px;
  box-shadow: 0 0 20px #E1E3DF;
  position: absolute;
  left: 50%;
  top: 360px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.auth-nav {
  background: rgb(245, 245, 241);
  padding-top: 20px;
  padding-right: 40px;
  padding-left: 40px;
  border-bottom: 1px solid #E1E3DF;
  position: relative;
}

.auth-nav ul {

}

.auth-nav li:nth-child(1) {
  border-left: 1px solid #E1E3DF;
}

.auth-nav li:nth-child(2) {
  border-left: 1px solid #E1E3DF;
  border-right: 1px solid #E1E3DF;
}

.auth-nav li {
  list-style: none;
  float: left;
  border-top: 1px solid #E1E3DF;
}

.active {
  color: rgb(102, 102, 102);
  background: #fff;
}

.inactive {
  color: rgb(12, 146, 183);
}

.auth-nav a {
  display: block;
  padding: 10px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bold;
}

.auth-nav a:hover {
  text-decoration: underline;
}

.auth-form {
  width: 475px;
  margin: auto;
  font-family: sans-serif;
  font-size: 12px;
  padding: 20px 0;
}

.o-auth {
  height: 140px;
  padding: 20px 0;
  background: #fff;
  border-bottom: 1px solid #E1E3DF;
  position: relative;
}

.o-auth p {
  position: absolute;
  bottom: 20px;
}

.name, .credentials {
  padding-top: 20px;
}

.name * {
  display: block;
}

.name input, .credentials input {
  margin-bottom: 5px;
  padding: 5px;
  font-size: 12px;
}

.gender, .credentials {
  padding-bottom: 20px;
  border-bottom: 1px solid #E1E3DF;
}

.gender label {
  padding-top: 0;
  padding-left: 5px;
  padding-right: 10px;
}

.credentials * {
  display: block;
}

.auth-form button {
  margin: 20px 0;
  padding: 10px 85px;
  border-radius: 5px;
  border: 1px solid rgb(54, 151, 177);
  background-color: rgb(12, 146, 183);
  color: #fff;
  font-size: 14px;
  font-weight: bold;
}

.auth-form button:hover {
  background-color: rgb(67, 177, 204);
}

.auth-form button:focus {
  background-color: rgb(12, 146, 183);
}

.auth-form p {
  font-size: 10px;
  color: rgb(102, 102, 102);
}
